.footer-text{
    font-size: 11px;
    left: 0;
    padding: 10px 0;
    position: absolute;
    right: 0;
    text-align: center;
}

.content{
	top: 50px;
}

body {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.centered-box{
	text-align: center;
	margin-top: 20px;
}

#init-toggle{
    margin: 0 auto;
    margin-top: 20px;
}

.toggle{
	background-color: #B40404;
}

.toggle::before{
	color:white;
}

#logo{
	width: 50%;
	height: 50%;
	margin-top: 100px;
}